<%# accepts: image: string, header: string, text_content: string, buttons: {button_text, button_path, button_variant}  %>

<div class="banner" data-controller="banner">
  <div class="banner-image-wrapper">
    <%= image_tag image, alt: "Banner Image", class: "banner-image" %>
  </div>
  <div class="banner-content-box">
    <h1 class="banner-header"><%= header %>
      <% if local_assigns[:animated_text] %>
        <div class="animated-text-wrapper">
          <span class="animated-text" data-banner-target="scrollingText">
            <%= animated_text.join(',') %>
          <span>
        </div>
      <% end %>
    </h1>
    <p class="banner-sub-header"><%= text_content %></p>
    <div class="banner-buttons">
      <% buttons.each do |button| %>
        <%= link_to button[:button_text], button[:button_path], class: "btn button-#{button[:button_variant]}" %>
      <% end %>
    </div>
  </div>
</div>
