<%# Leaderboard %>

<div class="content-container" data-controller="leaderboard swiper">
  <%# <div class="leaderboard-links"> %>
    <%# <span data-action="click->leaderboard#showIndivs">Individual Standings</span> %>
    <%# <span data-action="click->leaderboard#showSchools">School Standings</span> %>
  <%# </div> %>
  <div class="content-container-inner">
    <ul class="content-panel leaderboard-panel animated bg-lilac" data-leaderboard-target="indivPanelElement" data-swiper-target="slideElement">
      <%= tag.h3 "User Rankings", class: "english-violet small text-center", style: "margin: 0;" %>
      <% @top10_users.each do |user| %>
        <li class="user-row">
          <% if user.photo.key %>
            <%= cl_image_tag user.photo.key, class: "user-avatar avatar-common" %>
          <% else %>
            <%= image_tag "placeholder.jpg", class: "user-avatar avatar-common" %>
          <% end %>
          <div class="user-stats">
            <span class="user-username subheading"><%= user.username %></span>
            <span class="user-surveys subheading"><%= user.school.name %></span>
            <span class="user-surveys subheading"><%= user.surveys.length %> Dates</span>
            <span class="user-points subheading"><%= user.points %> Pts</span>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="content-panel leaderboard-panel animated bg-pale-yellow hidden" data-leaderboard-target="schoolPanelElement" data-swiper-target="slideElement">
      <%= tag.h3 "School Rankings", class: "english-violet small text-center", style: "margin: 0;" %>
      <% @top10_schools.each do |school| %>
        <li class="user-row">
          <div class="user-stats">
            <span class="user-username subheading"><%= school.name %></span>
            <span class="user-points subheading"><%= school.points %>/100 Safety Score</span>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="left-arrow-wrapper">
      <%= image_tag "chevron_left.svg",
        data: {
          action: "click->leaderboard#showIndivs",
          'leaderboard-target': "leftElement"
          },
        class: "chevron hidden"
      %>
    </div>

    <div class="right-arrow-wrapper">
      <%= image_tag "chevron_right.svg",
        data: {
          action: "click->leaderboard#showSchools",
          'leaderboard-target': "rightElement"
          },
        class: "chevron"
      %>
    </div>

    <div class="multi-dots-container">
      <div class="multi-dot dark-dot"
           data-leaderboard-target="multidotElement"
           data-swiper-target="multidotElement"
      ></div>
      <div class="multi-dot"
           data-leaderboard-target="multidotElement"
           data-swiper-target="multidotElement"
      ></div>
    </div>
  </div>

</div>
  <%# <%= render 'components/slide',
    slides: [
      {title: "Slide 1", text_content: "this is slide 1", bg_color: "lilac"},
      {title: "Slide 2", text_content: "this is slide 2", bg_color: "pale-yellow"}
    ]
  %>
