<div class="content-container">
  <div class="content-container-inner">
    <ul class="content-panel">
      <%= image_tag "standings_icon", class: "content-icon" %>
      <% @top10_users.each do |user| %>
        <li class="user-row">
          <% if user.photo.key %>
            <%= cl_image_tag user.photo.key, class: "user-avatar avatar-common" %>
          <% else %>
            <%= image_tag "placeholder.jpg", class: "user-avatar avatar-common" %>
          <% end %>
          <div class="user-stats">
            <span class="user-username subheading"><%= user.username %></span>
            <span class="user-surveys subheading"><%= user.school.name %></span>
            <span class="user-surveys subheading"><%= user.surveys.length %> Dates</span>
            <span class="user-points subheading"><%= user.points %> Pts</span>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="content-panel hidden">
      <%= image_tag "school_icon", class: "content-icon" %>
      <% @top10_schools.each do |school| %>
        <li class="user-row">
          <div class="user-stats">
            <span class="user-username subheading"><%= school.name %></span>
            <span class="user-points subheading"><%= school.points %> Pts</span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
