<div class="content-container" data-controller="leaderboard">
  <div class="leaderboard-links">
    <span data-action="click->leaderboard#showIndivs">Individual Standings</span>
    <span data-action="click->leaderboard#showSchools">School Standings</span>
  </div>
  <div class="content-container-inner">
    <ul class="content-panel" data-leaderboard-target="indivPanelElement">
      <%= image_tag "standings_icon.svg", class: "content-icon" %>
      <% @top10_users.each do |user| %>
        <li class="user-row">
          <% if user.photo.key %>
            <%= cl_image_tag user.photo.key, class: "user-avatar avatar-common" %>
          <% else %>
            <%= image_tag "placeholder.jpg", class: "user-avatar avatar-common" %>
          <% end %>
          <div class="user-stats">
            <span class="user-username subheading"><%= user.username %></span>
            <span class="user-surveys subheading"><%= user.school.name %></span>
            <span class="user-surveys subheading"><%= user.surveys.length %> Dates</span>
            <span class="user-points subheading"><%= user.points %> Pts</span>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="content-panel hidden" data-leaderboard-target="schoolPanelElement">
      <%= image_tag "school_icon.svg", class: "content-icon" %>
      <% @top10_schools.each do |school| %>
        <li class="user-row">
          <div class="user-stats">
            <span class="user-username subheading"><%= school.name %></span>
            <span class="user-points subheading"><%= school.points %>/100 Safety Score</span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
