<div
  class="content-container column"
  data-controller="face-recognition swiper"
  data-action="face-recognition:searchGalleryForPerson->swiper#connect"
  data-face-recognition-luxand-api-key-value="<%=ENV['LUXAND_API_KEY']%>"
>

  <% unless @user.search_date_accessed.length < 2 || @user.is_admin %>
    <%= render "shared/alert",
      bg_color: "english-violet",
      text_color: "white",
      header_text: "Too many Searches",
      header_size: "small",
      content_text: "This feature is still in beta, we're currently limiting how often it may be used. Please check back later",
       buttons: [
        {text: "Log In", path: new_user_session_path, style: "btn button-primary"},
       ]
    %>
  <% end %>

  <% unless user_signed_in? %>
    <%= render "shared/alert",
      bg_color: "english-violet",
      text_color: "white",
      header_text: "Log in or create an account to use this feature.",
      header_size: "small",
      content_text: "This feature is still in beta, we're currently limiting its access to existing users. Please log in or create an account to search for a date with Dish.",
       buttons: [
        {text: "Log In", path: new_user_session_path, style: "btn button-primary"},
       ]
    %>
  <% end %>

  <div class="content-container-inner">
    <div class="face-recog-container content-panel bg-pale-blue">

      <span data-face-recognition-target="resultsScoreElement"></span>

      <div class="results-container">
        <div class="upload-image-container">
          <%= image_tag "cmb_profile.png", loading: 'lazy', class: "upload-image profile-image", data: {"face-recognition-target": "imageElement"} %>
        </div>
        <div class="slides-container" data-swiper-target="slidesContainerElement">
          <div class="results-images" data-face-recognition-target="resultsImagesContainerElement">
          </div>

          <div class="left-arrow-wrapper">
            <%= image_tag "chevron_left.svg",
              loading: 'lazy',
              data: {
                action: "click->swiper#prev",
                'swiper-target': "leftElement"
                },
              class: "chevron hidden"
            %>
          </div>

          <div class="right-arrow-wrapper">
            <%= image_tag "chevron_right.svg",
              loading: 'lazy',
              data: {
                action: "click->swiper#next",
                'swiper-target': "rightElement"
                },
              class: "chevron hidden"
            %>
          </div>

          <div class="multi-dots-container" data-swiper-target="multidotContainerElement"></div>

        </div>
      </div>

      <form class="face-recog-form">
        <label for="image-upload" data-face-recognition-target="inputLabelElement">Upload a screenshot of your date's profile. It should look something like this. </label>
        <input type="file" name="image-upload" data-face-recognition-target="fileUploadElement" data-action="change->face-recognition#previewImage">
        <button
          class="btn button-secondary <% unless user_signed_in? && @user.search_date_accessed.length < 2 || @user.is_admin%> button-disabled <% end %>"
          data-action="click->face-recognition#searchGalleryForPerson"
          data-face-recognition-target="searchButtonElement"
        >
            Search
        </button>
        <span class="error-notification" data-face-recognition-target="errorNotificationElement"></span>
      </form>
    </div>
  </div>
</div>
