<div class="content-container">
  <div class="column">
    <%= render "survey_results" %>
    <%= render "badges" %>
  </div>

  <div class="column column-small">
    <div class="content-panel bg-pale-yellow account-info">
      <h3 class="account-header english-violet">Personal Information</h3>
      <% if @user.photo.key %>
        <%= cl_image_tag @user.photo.key, loading: 'lazy', class: "user-avatar content-icon-small" %>
      <% else %>
        <%= image_tag "user_icon.svg", loading: 'lazy', class: "content-icon-small" %>
      <% end %>
      <div class="account-detail">
        <span class="account-detail-title">E-mail:</span>
        <span><%= @user.email %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">Username:</span>
        <span><%= @user.username %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">First name:</span>
        <span><%= @user.first_name %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">Last name:</span>
        <span><%= @user.last_name %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">Gender:</span>
        <span><%= @user.gender %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">School:</span>
        <span><%= @user.school.name %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">Referral code:</span>
        <span><%= @user.referral.code %></span>
      </div>
      <div class="account-detail">
        <span class="account-detail-title">Points total:</span>
        <span><%= @user.points %></span>
      </div>
      <%= link_to "Edit account details", edit_registration_path(@user), class: "btn button-primary" %>
    </div>
  </div>
</div>
