<div class="content-container reduced-margin">
  <div class="column">
    <%= render "survey_results" %>
    <%= render "badges" %>
  </div>

  <div class="column column-small">
    <% if @user.photo.key %>
      <%= cl_image_tag @user.photo.key, class: "user-avatar content-icon-small" %>
    <% else %>
      <%= image_tag "user_icon", class: "content-icon-small" %>
    <% end %>
    <h3 class="account-header">Personal Information</h3>
    <div class="content-panel account-info">
      <span class="account-detail"><%= @user.email %></span>
      <span class="account-detail"><%= @user.username %></span>
      <span class="account-detail"><%= @user.first_name %></span>
      <span class="account-detail"><%= @user.last_name %></span>
      <span class="account-detail"><%= @user.gender %></span>
      <span class="account-detail">
        Referral code: <%= @user.referral.code %>
      </span>
      <span class="account-detail">
        Points total: <%= @user.points %>
      </span>
      <%= link_to "Edit account details", edit_registration_path(@user), class: "btn button-primary" %>
    </div>
  </div>
</div>
