<div class="content-container">
  <div class="content-container-inner">
    <div class="content-panel bg-lilac devise-panel">
      <h2 class="text-center english-violet" style="margin-top: 0">Change your password</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: "Email",
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send password reset instructions", class: "button-secondary" %>
        </div>
      <% end %>

      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
