<div data-controller="mobile-nav">
  <div class="navbar<% unless current_page?(root_path) || current_page?(project_path) %> navbar-border<% end %>">
    <div class="mobile-nav-inner">
      <div
        class="mobile-nav-item"
        data-action="click->mobile-nav#openMainMenuDrawer"
      >
        <%= image_tag current_page?(root_path) ? "hamburger_menu_reverse.svg" : "hamburger_menu.svg", class: "mobile-nav-icon" %>
      </div>
      <div class="mobile-nav-item">
        <%= link_to image_tag(current_page?(root_path) ? "logo_reverse.svg" : "logo.svg", class: "mobile-logo"), root_path %>
      </div>
      <div
        class="mobile-nav-item"
        data-action="click->mobile-nav#openUserMenuDrawer"
      >
        <% if user_signed_in? and current_user.photo.key %>
          <%= cl_image_tag current_user.photo.key, class: "user-avatar avatar-common mobile-nav-icon" %>
        <% else %>
          <%= image_tag current_page?(root_path) ? "user_icon_white.svg" : "user_icon.svg", class: "mobile-nav-icon" %>
        <% end %>
      </div>
    </div>
  </div>

  <div
    class="mobile-menu-drawer main-menu animated hidden"
    data-mobile-nav-target="mainMenuDrawerElement"
  >
    <div class="drawer-top-links">
      <%= link_to image_tag("logo.svg", class: "mobile-logo"), root_path %>
      <div
        class="close-button"
        data-action="click->mobile-nav#closeMainMenuDrawer"
      >
        <%= image_tag 'x_icon.svg', class: "mobile-nav-icon" %>
      </div>
    </div>
    <ul class="mobile-menu-links">
      <li class="nav-item">
        <%= link_to "Survey", new_survey_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Leaderboard", leaderboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Project", project_path, class: "nav-link" %>
      </li>
    </ul>
  </div>

  <div
    class="mobile-menu-drawer user-menu animated hidden"
    data-mobile-nav-target="userMenuDrawerElement"
  >
    <div class="drawer-top-links">
      <%= link_to image_tag("logo.svg", class: "mobile-logo"), root_path %>
      <div
        class="close-button"
        data-action="click->mobile-nav#closeUserMenuDrawer"
      >
        <%= image_tag 'x_icon.svg', class: "mobile-nav-icon" %>
      </div>
    </div>
    <ul class="mobile-menu-links">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Account", account_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
