<%= content_tag(
    :div,
    # data: current_page?(root_path) ? {"navbar-target": "navbarElement"} : {},
    # class: current_page?(root_path) ? "navbar" : "navbar bg-offwhite"
    class: "navbar bg-offwhite"
  ) do
%>
  <div class="navbar-inner">
  <% if user_signed_in? %>
    <div class="account-dropdown hidden" data-controller="dropdown">
      <div class="account-icon-wrapper" data-action="click->dropdown#openDropdown">
        <% if current_user.photo.key %>
          <%= cl_image_tag current_user.photo.key, loading: 'lazy', class: "user-avatar avatar-common" %>
        <% else %>
          <%= image_tag "user_icon.svg", class: "account-icon" %>
        <% end %>
      </div>
      <div class="dropdown-content" data-dropdown-target="dropdownContent">
        <%= link_to "Account", account_path, class: "nav-link" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
      </div>
      <div class="blocker" data-action="click->dropdown#closeDropdown" data-dropdown-target="dropdownBlocker">
      </div>
    </div>
  <% else %>
    <div class="nav-item hidden">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
    <%= content_tag(
        :div,
        # data: current_page?(root_path) ? {"navbar-target": "logoElement"} : {},
        class: current_page?(root_path) ? "logo-container" : "logo-container"
      ) do
    %>
      <%= link_to image_tag("dish_logo.svg", loading: 'lazy', class: "logo"), root_path %>
    <% end %>
    <div class="links-container">
      <ul class="nav-links">
        <li class="nav-item">
          <%= link_to "contact", new_contact_path, class: "btn button-primary nav-button" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
