<div class="navbar">
  <div class="logo-container">
    <%= link_to image_tag("logo.svg", class: "logo"), root_path %>
  </div>
  <div class="links-container">
    <ul class="nav-links">
      <li class="nav-item">
        <%= link_to "Survey", new_survey_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Leaderboard", leaderboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Project", project_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="account-dropdown" data-controller="dropdown">
          <div data-action="click->dropdown#openDropdown">
            <%= image_tag "user_icon", class: "account-icon" %>
          </div>
          <div class="dropdown-content" data-dropdown-target="dropdownContent">
            <%= link_to "Account", account_path, class: "nav-link" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </div>
          <div class="blocker" data-action="click->dropdown#closeDropdown" data-dropdown-target="dropdownBlocker">
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
