<div class="full-width-container text-with-image">
  <div class="text-container">
    <h1 class="header">
      <%= header_text %>
    </h1>
    <p class="text">
      <%= content_text %>
    </p>
    <div class="twi-button-container">
      <%= link_to button1[:text], button1[:path], class: button1[:style] %>
      <%= link_to button2[:text], button2[:path], class: button2[:style] %>
    </div>
  </div>
  <div class="image-container">
    <%= image_tag image, class: "twi-image" %>
  </div>
</div>
