<div class="content-container reduced-margin">
  <div class="column">
    <%= image_tag "stars_icon", class: "content-icon-small" %>
    <h3 class="account-header">Survey Results</h3>
    <div class="content-panel">
    </div>

    <%= image_tag "ribbon_icon", class: "content-icon-small" %>
    <h3 class="account-header">Badges</h3>
    <div class="content-panel">
      <div class="content-grid">
        <% show_badges.each do |badge| %>
          <div class="badge-wrapper tooltip">
            <%= image_tag "#{badge.icon}", class: "badge" %>
            <span class="tooltip-text"><%= badge.unlock_reqs %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="column column-small">
    <%= image_tag "user_icon", class: "content-icon-small" %>
    <h3 class="account-header">Personal Information</h3>
    <div class="content-panel account-info">
      <span class="account-detail"><%= current_user.email %></span>
      <span class="account-detail"><%= current_user.username %></span>
      <span class="account-detail"><%= current_user.first_name %></span>
      <span class="account-detail"><%= current_user.last_name %></span>
      <span class="account-detail"><%= current_user.gender %></span>
      <%= link_to "Edit account details", edit_registration_path(current_user), class: "btn button-primary" %>
    </div>
  </div>
</div>
