<div class="static-page-container">

  <%= render "components/banner",
    image: "phone.png",
    header: "Get the green light on your date before you ",
    animated_text: ["grab a drink.", "go to dinner.", "see a show.", "get ice cream."],
    text_content: "The first universal badge system for dating apps, powered by anonymous community feedback. Our API brings trust, empowerment, and peace of mind to every first date.",
    buttons: [
      {button_text: "Learn More", button_path: '#', button_variant: "primary"}
    ]
  %>

  <%= render "components/stats_block",
    stats: [
      {number: "49", content: "of U.S. adults think dating apps <u>aren't safe</u>"},
      {number: "66", content: "of women say they've encountered a <u>bad character</u> at least once while using a dating app. <span class='annotation'>*Pew Research</span>"}
    ]
  %>

  <%= render "components/halos_block",
    header: "Get started with our API docs and give your users their Halo today.",
    content: "Unlock our community verification badges and access to millions of feedback points for a better dating app experience for your users",
    images: [
      {src: "halo_gold.svg", alt: "Gold halo"},
      {src: "halo_platinum.svg", alt: "Platinum halo"},
      {src: "halo_diamond.svg", alt: "Diamond halo"}
    ]
  %>

  <%= render "components/text_with_image",
    reverse: true,
    direction: "row",
    aspect_ratio: "0",
    text_vertical_alignment: "center",
    text_horizontal_alignment: "center",
    header_text: "Universal anonymous feedback shared across every dating app.",
    header_size: "large",
    header_color: "",
    content_text: "Every dating app taps into our badge system, so no matter where you have a profile, your badge will always be there to vouch for you.",
    image: "messaging_interface.png",
    image_width: "60%",
    buttons: [
    ]
  %>

  <%= render "components/cards_block",
    header: "How Let's Dish works",
    cards: [
      {
        image: {src: "clipboard.svg", alt: "Clipboard"},
        content: "Halo collects millions of anonymous responses"
      },
      {
        image: {src: "halo.svg", alt: "Halo"},
        content: "Profiles receive a Halo after meeting a positive response threshold"
      },
      {
        image: {src: "letter.svg", alt: "Letter"},
        content: "Our API delivers this data directly to you"
      }
    ]
  %>

  <%= render "components/text_with_image",
    reverse: true,
    direction: "column",
    aspect_ratio: "0",
    text_width: '50%',
    text_vertical_alignment: "center",
    text_horizontal_alignment: "center",
    header_text: "Peace of mind is a must-have.",
    header_size: "large",
    header_color: "",
    content_text: "With Halo, every potential match has already been vouched for by the community, so you can focus on being yourself and having a good time.",
    image: "profile_portrait.png",
    image_width: "80%",
    buttons: [
    ]
  %>

   <%= render "components/newsletter_signup",
    header: "Subscribe to keep updated",
    content: "Stay ahead of the curve with our latest API updates and industry insights delivered straight to your inbox! Subscribe to our newsletter today and never miss a beat. Be the first to know about new features, tips, and exclusive offers tailored to enhance your API experience. Join our community of innovators and stay informed with the power of our newsletter!"
  %>

  <%= render "components/compatible_logos",
    greyscale: true,
    images: [
      {src: "tinder_logo.webp", alt: "Tinder logo"},
      {src: "bumble_logo.webp", alt: "Bumble logo"},
      {src: "raya_logo.webp", alt: "Raya logo"},
      {src: "match_logo.png", alt: "Match logo"},
      {src: "hinge_logo.webp", alt: "Hinge logo"}
    ]
  %>
</div>
