<div class="home-page-container">

  <%= render "components/image_banner" %>

  <div class="content-container-static column">
    <%= render "components/text_with_image",
        header_text: "Get the full scoop before you date.",
        content_text: "Dish collects anonymous submissions to create a report card on your date. No more bad vibes.
          Dish lets you see what others had to say about your date.",
        image: "couple_phones.jpg",
        buttons: [
          {text: "Take the Quiz", path: new_survey_path, style: "btn button-secondary"},
          {text: "Learn More", path: project_path, style: "btn button-tertiary"}
        ]
    %>

    <%= render "components/compatible_logos", images: ["hinge_logo.webp", "bumble_logo.webp", "tinder_logo.webp", "raya_logo.webp"]  %>

    <%= render "components/full_width_image", image: "couple_in_grass.jpg" %>

    <%= render "components/text_with_element",
        reverse: false,
        header_text: "Submit a Date",
        header_size: "large",
        header_color: "pale-blue",
        content_text: "Upload a screenshot and take the quiz. Anonymously share how your date went.",
        image: "bumble_screenshot.png",
        buttons: [{text: "Get Started", path: new_survey_path, style: "btn button-secondary"}]
     %>

     <%= render "components/text_with_element",
        reverse: true,
        header_text: "Search a Date",
        header_size: "large",
        header_color: "lilac",
        content_text: "Got a date planned? Upload a screenshot for a full report.",
        image: "tinder_profile.jpeg",
        buttons: []
     %>
  </div>
</div>
