<div class="survey-container" data-controller="survey">
  <div class="survey-question-container">
    <%= image_tag "survey_icon.svg", class: "content-icon survey-icon" %>

    <%= simple_form_for(@survey, html: {"data-survey-target": "surveyElement"}) do |f| %>
      <div data-survey-target="questionElement" class="survey-question-panel animated">
        <%= image_tag "bumble_screenshot.png", class: "survey-image" %>
        <div class="survey-photo-label">
          Please upload a screenshot of the dating app profile picture with details for the person you went on a date with.
          <i>(It should include both an image and words, and look something like this, depending on the dating app.)</i>
        </div>
        <%= f.input :photo,
                    as: :file,
                    label: false,
                    input_html: {data: {action: "change->survey#radioChecked", index: 0}} %>
        <%= render 'next_button', sq: f, index: 0 %>
      </div>
      <%= f.fields_for :survey_questions do |sq| %>
        <div
          data-survey-target="questionElement"
          <% if sq.index == 0 %>
            class="survey-question-panel animated hidden"
          <% else %>
            class="survey-question-panel animated hidden"
          <% end %>
        >
          <%= sq.input :answer,
                       label: sq.object.question.body,
                       as: :radio_buttons,
                       collection: sq.object.question.options,
                       label_method: :body,
                       value_method: :body,
                       input_html: {data: {action: "click->survey#radioChecked", index: sq.index + 1}} %>
          <%= sq.hidden_field :question_id, value: sq.object.question.id %>
          <%= render 'next_button', sq: sq, index: sq.index + 1 %>
        </div>
      <% end %>
      <%= f.submit class: "btn button-primary hidden"%>
    <% end %>
  </div>
  <div class="progress-bar">
    <div class="active-progress" data-survey-target="progressBarElement"></div>
  </div>
</div>
