<div
  class="content-container column"
  data-controller="survey"
  data-survey-api-key-value="<%=ENV['SKYBIOMETRY_API_KEY']%>"
  data-survey-secret-key-value="<%=ENV['SKYBIOMETRY_SECRET_KEY']%>"
>

  <div class="progress-bar">
      <div class="active-progress" data-survey-target="progressBarElement"></div>
    </div>

  <div class="survey-container">

    <%# POPUP ALERT TO PROPMT USER TO SIGN IN %>
    <!--- <% unless user_signed_in? %>
      <%= render "shared/alert",
        bg_color: "english-violet",
        text_color: "white",
        header_text: "Log in to play!",
        header_size: "small",
        content_text: "Earn points and badges by completing dish reports and inviting friends etc. Compete against your friends
        and other users! Going on dates and competing dish reports affects your school's Saftey Score. Check the leaderboards
        to see which schools have best dating culture",
        buttons: [
          {text: "Log In", path: new_user_session_path, style: "btn button-primary"}
        ]
      %>
    <% end %> --->

    <div class="survey-question-container">

      <%= simple_form_for(@survey, html: {"data-survey-target": "surveyElement"}) do |f| %>
        <div data-survey-target="questionElement" class="survey-question-panel bg-pale-blue animated">
          <div class="survey-image-container">
            <%= image_tag "male_bumble_profile.png", loading: 'lazy', class: "survey-image", data: {action: 'click->survey#toggleImageSize', 'survey-target': 'imageElement'} %>
            <div class="survey-image-blocker hidden" data-action='click->survey#toggleImageSize' data-survey-target="blockerElement"></div>
          </div>
          <div class="survey-photo-label">
            Please upload a screenshot of the dating app profile picture with details for the person you went on a date with.
            <i>(It should include both an image and words, and look something like this, depending on the dating app.)</i>
          </div>
          <%= f.input :photo,
                      as: :file,
                      label: false,
                      input_html: {data: {action: "change->survey#faceDetect", "survey-target": 'imageInputElement', index: 0}} %>
          <div class="survey-image-error-message hidden" data-survey-target="errorMessageElement">
            Please ensure your screenshot matches the example above, including a clear view of the face.
          </div>
          <%= render 'next_button', sq: f, index: 0 %>
        </div>
        <%= f.fields_for :survey_questions do |sq| %>
          <div
            data-survey-target="questionElement"
            <% if sq.index == 0 %>
              class="survey-question-panel bg-pale-blue animated hidden"
            <% else %>
              class="survey-question-panel bg-pale-blue animated hidden"
            <% end %>
          >
            <%= sq.input :answer,
                        label: sq.object.question.body,
                        as: :radio_buttons,
                        collection: sq.object.question.options,
                        label_method: :body,
                        value_method: :body,
                        input_html: {data: {action: "click->survey#radioChecked", index: sq.index + 1}} %>
            <%= sq.hidden_field :question_id, value: sq.object.question.id %>
            <%= render 'next_button', sq: sq, index: sq.index + 1 %>
          </div>
        <% end %>
        <%= f.submit class: "btn button-secondary hidden"%>
      <% end %>
    </div>
  </div>
</div>
