<div class="survey-container" data-controller="survey">
  <div class="survey-question-container">
    <%= image_tag "survey_icon.svg", class: "content-icon" %>

    <%= simple_form_for @survey do |f| %>
      <%= f.fields_for :survey_questions do |sq| %>
        <div
          data-survey-target="surveyElement"
          <% if sq.index == 0 %>
            class="survey-question-panel"
          <% else %>
            class="survey-question-panel hidden"
          <% end %>
        >
          <%= sq.input :answer, label: sq.object.question.body, as: :radio_buttons, collection: sq.object.question.options, label_method: :body, value_method: :body %>
          <%= sq.hidden_field :question_id, value: sq.object.question.id %>
          <div class="btn survey-next-button button-primary" id="next<%= sq.index%>" data-action="click->survey#next">Next</div>
        </div>
      <% end %>
      <%= f.submit class: "button-primary"%>
    <% end %>

  </div>
  <div class="progress-bar">
  </div>
</div>
