<div class="survey-container" data-controller="survey">
  <div class="survey-question-container">
    <%= image_tag "survey_icon.svg", class: "content-icon" %>

    <%= simple_form_for @survey do |f| %>
      <%= f.fields_for :survey_questions do |p| %>
        <%= p.input :answer, label: p.object.question.body, as: :radio_buttons, collection: p.object.question.options, label_method: :body, value_method: :body %>
      <% end %>
      <%= f.submit %>
    <% end %>

  </div>
  <div class="progress-bar">
  </div>
</div>
